<span class="project-config-list-label">$i18n.getText('cpji.admin.name'):</span>
<span class="project-config-list-value">
    <a href="$req.contextPath/secure/ConfigureCopyIssuesAdminAction!default.jspa?projectKey=$projectKey" id="configure_cpji">$i18n.getText('common.words.configure')</a>
</span>

