#* @vtlvariable name="action" type="com.atlassian.cpji.action.CopyIssueToInstanceAction" *#
<html>
<head>
    <title>$i18n.getText('cpji.copy.successful')</title>
</head>
<body>

<div id="stepped-process" class="content-container">
	#parse("/com/atlassian/cpji/templates/steps.vm")
    <div class="content-body aui-panel">
        <div class="aui-message success"><span class="aui-icon icon-success"></span>

            <p class="title"><strong>$i18n.getText("cpji.copy.successful")</strong></p>

			#set($src = "<a href='../browse/$action.getIssueKey()'>$action.getIssueKey()</a>")
			#set($dst = "<a href='$action.linkToNewIssue' target='_blank'>$action.copiedIssueKey</a>")
            <p>$i18n.getText("cpji.has.been.copied.to", $src, $dst)</p>
        </div>
		#if ($action.invalidInput())
            <div class="aui-message warning"><span class="aui-icon icon-warning"></span>
                <p>$i18n.getText("cpji.there.were.problems.during.creation")</p>
                <ul>
					#foreach( $error in $action.getErrorMessages() )
                        <li>$textutils.htmlEncode($error)</li>
					#end
                </ul>
            </div>
		#end
        <form action="../browse/$action.getIssueKey()" class="aui" method="get">
            <div class="buttons-container">
                <div class="buttons">
                    <input type="submit" value="$i18n.getText('cpji.back.to.the.issue')" class="button submit"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>