#* @vtlvariable name="action" type="com.atlassian.cpji.action.CopyDetailsAction" *#
<html>
<head>
    <title>Select a new issue type</title>
</head>
<body>
<div id="stepped-process" class="content-container">
    <div class="content-related">
    <ol class="steps">
            <li class="done">Select project</li>
            <li class="current">Select Issue Type</li>
            <li class="todo">Confirmation</li>
        </ol>
    </div>
    <div class="content-body aui-panel">
        <form action="PermissionChecksAction.jspa" class="aui" method="post">
            <h2>Issue type</h2>
            <fieldset>
                <div class="field-group">
                    <label for="issueType">Issue Type</label>
                    <select name="issueType" id="issueType">
                        #foreach( $issueType in $action.getAvailableIssueTypes())
                            <option #if(${issueType.isSelected()}) selected #end  value="$textutils.htmlEncode(${issueType.value})">$textutils.htmlEncode(${issueType.value})</option>
                        #end
                    </select>
                </div>
            </fieldset>
            <h2>Remote user</h2>
            <fieldset>
                <div class="field-group">
                    <label>User name</label>
                    <span class="field-value">$textutils.htmlEncode($action.getRemoteUserName())</span>
                </div>
                <div class="field-group">
                    <label>User Full Name</label>
                    <span class="field-value">$textutils.htmlEncode($action.getRemoteFullUserName())</span>
                </div>
            </fieldset>

			<h2>Issue details</h2>
			<fieldset>
				#if ($action.isSALUpgradeRequired() && $action.attachmentsEnabled())
					<div class="field-group">
						<label for="attachments">Attachments</label>
                     <span class="field-value">
                         Attachments are not moved until we have upgraded JIRA's SAL version.
                     </span>
						<input type="hidden" name="copyAttachments" value="false"/>
					</div>
				#elseif ($action.attachmentsEnabled())
					<div class="field-group">
						<label for="attachments">Attachments</label>
                 <span class="field-value">
					 #if ($action.remoteAttachmentsEnabled() && $action.hasCreateAttachmentsPermission())
						 Attachments will be copied.
                         <input type="hidden" name="copyAttachments" value="true"/>
					 #elseif (!$action.remoteAttachmentsEnabled())
						 Attachments are disabled in the remote JIRA instance.
                         <input type="hidden" name="copyAttachments" value="false"/>
					 #elseif(!$action.hasCreateAttachmentsPermission())
						 You don't have the create attachments permission in the remote JIRA instance.
                         <input type="hidden" name="copyAttachments" value="false"/>
					 #end
				 </span>
					</div>
				#end

				<div class="field-group">
					<label for="copy-issue-links">Copy Issue Links</label>
					<input type="checkbox" class="checkbox" id="copy-issue-links" name="copyIssueLinks" value="true" checked="checked"/>
				</fieldset>

				<div class="field-group">
					<label for="remoteIssueLink">Create Issue Link</label>
					<select name="remoteIssueLink" id="remoteIssueLink">
						#foreach( $issueLink in $action.getIssueLinkOptions())
							<option value="$textutils.htmlEncode(${issueLink.value})">$textutils.htmlEncode(${issueLink.label})</option>
						#end
					</select>
				</div>
			</fieldset>

            <div class="button-container">
                <div class="buttons">
                    <input type="submit" value="Next" class="button submit"/>
                </div>
            </div>
            <input type="hidden" name="id" value="$action.id"/>
            <input type="hidden" name="atl_token" value="$action.xsrfToken"/>
            <input type="hidden" name="targetEntityLink" value="$textutils.htmlEncode($action.targetEntityLink)"/>
        </form>
    </div>
</div>
</body>
</html>
