#* @vtlvariable name="action" type="com.atlassian.cpji.action.CopyDetailsAction" *#
<html>
<head>
	<title>$i18n.getText('cpji.select.new.issue.type')</title>
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$i18n.getText("cpji.operation.name")</h1>
        </div>
    </div>
</header>
<div id="stepped-process" class="content-container">
	#parse("/com/atlassian/cpji/templates/steps.vm")
	<div class="content-body aui-panel">
		<form action="CopyDetailsAction.jspa" class="aui" method="get">
			<h2 class="formtitle">$i18n.getText('cpji.copy.details')</h2>
            <p>$i18n.getText('cpji.provide.details.for.destination.issue')</p>
			<fieldset>
				<div class="field-group">
					<label for="issueType">$i18n.getText('cpji.issue.type')</label>
					<select class="singleSelect"  name="issueType" id="issueType">
						#if(!$action.availableSubTaskTypes.empty)
						<optgroup label="$i18n.getText('cpji.subtask.issue.types')">
							#foreach( $issueType in $action.availableSubTaskTypes)
								<option #if(${issueType.isSelected()}) selected #end
																	   value="$textutils.htmlEncode(${issueType.value})">$textutils.htmlEncode(${issueType.value})</option>
							#end
						</optgroup>
                        <optgroup label="$i18n.getText('cpji.standard.issue.types')">
						#end
						#foreach( $issueType in $action.getAvailableIssueTypes())
							<option #if(${issueType.isSelected()}) selected #end
																   value="$textutils.htmlEncode(${issueType.value})">$textutils.htmlEncode(${issueType.value})</option>
						#end
						#if(!$action.availableSubTaskTypes.empty)
						</optgroup>
						#end
					</select>
				</div>
			</fieldset>

			<fieldset>
				<div class="field-group">
					<label for="summary">$i18n.getText('common.words.summary')</label>
					<input type="text" class="text long-field" name="summary" id="summary" value="$textutils.htmlEncode($summary)"/>
					#if ($action.errors.summary)
						<div class="error">$action.errors.summary</div>
					#end
				</div>
			</fieldset>

			#if ($action.advancedSectionVisible)
			<fieldset class="group">
				<legend><span>$i18n.getText('cpji.details')</span></legend>
				#if ($action.copyCommentsSectionVisible)
				#set ($error = $action.copyCommentsErrorMessage)
				<div class="checkbox" id="copy-comments-group">
					<input type="checkbox" class="checkbox" id="copy-comments" name="copyComments" value="true" #if ($error != "") disabled="" #else #if($copyComments) checked="checked" #end #end/>
					<label for="copy-comments">$i18n.getText('cpji.copy.comments')</label>
					#if ($error != "")
                        <div class="error">$error</div>
					#end
				</div>
				#end

				#if ($action.copyAttachmentsSectionVisible)
				#set ($isEnabled = $action.copyAttachmentsEnabled)
				<div class="checkbox" id="copy-attachments-group">
					<input type="checkbox" class="checkbox" id="copy-attachments" name="copyAttachments" value="true" #if (!$isEnabled) disabled="" #else #if($copyAttachments) checked="checked" #end #end/>
					<label for="copy-attachments">$i18n.getText('cpji.copy.attachments')</label>
					#set ($error = $action.copyAttachmentsErrorMessage)
					#if ($error != "")
                        <div class="error">$error</div>
					#end
                </div>
				#end

				#if ($action.copyIssueLinksSectionVisible)
				#set ($error = $action.copyIssueLinksErrorMessage)
				<div class="checkbox" id="copy-issue-links-group">
					<input type="checkbox" class="checkbox" id="copy-issue-links" name="copyIssueLinks" value="true" #if ($error != "") disabled="" #else #if($copyIssueLinks) checked="checked" #end #end/>
					<label for="copy-issue-links">$i18n.getText('cpji.copy.issue.links')</label>
					#if ($error != "")
                        <div class="error">$error</div>
					#end
				</div>
				#end
			</fieldset>
			#end
			#if ($action.createIssueLinkSectionVisible)
            <fieldset>
				<div class="field-group" id="create-issue-links-group">
					<label for="remoteIssueLink">$i18n.getText('cpji.create.issue.link')</label>
					<select class="singleSelect" name="remoteIssueLink" id="remoteIssueLink">
						#foreach( $issueLink in $action.getIssueLinkOptions())
							<option value="$textutils.htmlEncode(${issueLink.value})"  #if($action.remoteIssueLink && $action.remoteIssueLink == $issueLink.value) selected="selected" #end >$textutils.htmlEncode(${issueLink.label})</option>
						#end
					</select>
					<div class="description">$i18n.getText("cpji.creates.issue.link.between.issues")</div>
				</div>
            </fieldset>
            #elseif($action.createIssueLinkWarningMessage)
                <div class="field-group">
                    <label for="remoteIssueLink">$i18n.getText('cpji.create.issue.link')</label>
                    <div class="aui-message warning">
                        <span class="aui-icon icon-warning"></span>
                        $action.createIssueLinkWarningMessage
                    </div>
                </div>
            #end

			#if (!$action.targetLocal)
                <fieldset>
                    <div class="field-group">
                        <label>$i18n.getText('cpji.remote.user')</label>
                        <span class="field-value">$textutils.htmlEncode($action.getRemoteFullUserName()) ($textutils.htmlEncode($action.getRemoteUserName()))</span>
                    </div>
                </fieldset>
			#end

			<div class="buttons-container">
				<div class="buttons">
					<input type="submit" value="$i18n.getText('common.forms.next')" class="aui-button aui-button-primary submit"/>
				</div>
			</div>
			<input type="hidden" name="id" value="$action.id"/>
			<input type="hidden" name="atl_token" value="$action.xsrfToken"/>
			<input type="hidden" name="targetEntityLink" value="$textutils.htmlEncode($action.targetEntityLink)"/>
		</form>
	</div>
</div>
</body>
</html>
