#* @vtlvariable name="permission" type="com.atlassian.cpji.action.FieldPermission" *#
<div class="field-group" data-field-id="$textutils.htmlEncode($permission.fieldId)" #if (!$permission.canCopyIssue()) class="status-inactive" #end>
	<label>$textutils.htmlEncode($permission.fieldName)</label>
	<div class="field-value #if (!$permission.canCopyIssue())warning#end">$textutils.htmlEncode($permission.getValidationMessage())</div>
</div>
