<div class="aui-message error"><span class="aui-icon icon-error"></span>
    <p>$i18n.getText('cpji.error.occurred')</p>
    <ul>
    #foreach( $error in $action.getErrorMessages() )
        <li>$textutils.htmlEncode($error)</li>
    #end
    </ul>
</div>