#* @vtlvariable name="action" type="com.atlassian.cpji.action.AbstractCopyIssueAction" *#
<html>
<head>
    <title>$i18n.getText('cpji.there.was.an.error')</title>
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$i18n.getText("cpji.operation.name")</h1>
        </div>
    </div>
</header>
<div id="stepped-process" class="content-container">
	#parse("/com/atlassian/cpji/templates/steps.vm")

	<div class="content-body aui-panel">
		#set ($issueUrl = "${req.contextPath}${action.issuePath}")
		#set ($errorHtml = $i18n.getText('cpji.error.occurred', $issueUrl, $action.issueKey))

		<div class="aui-message error">
			#if ($action.errorMessages.empty && $action.errors.empty)
                <span class="aui-icon icon-error"></span>$errorHtml
			#else
                <p class="title"><span class="aui-icon icon-error"></span><strong>$errorHtml</strong></p>
				#foreach($error in $action.getErrorMessages())
					<p>$textutils.htmlEncode($error)</p>
				#end
				#foreach($error in $action.errors.values())
					<p>$textutils.htmlEncode($error)</p>
				#end
			#end
		</div>
	</div>
</div>
</body>
</html>