#* @vtlvariable name="action" type="com.atlassian.cpji.action.CopyIssueToInstanceAction" *#
<html>
<head>
    <title>$i18n.getText('cpji.confirmation')</title>
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$i18n.getText("cpji.operation.name")</h1>
        </div>
    </div>
</header>
<div id="stepped-process" class="content-container">
	#parse("/com/atlassian/cpji/templates/steps.vm")
    <div class="content-body aui-panel">
        <form #if ($action.isCopyingPossible()) action="CopyIssueToInstanceAction.jspa" method="post" #else action="../browse/$action.getIssueKey()" method="get" #end class="aui confirmation" >
            #if($action.isCopyingPossible())
                <h2 class="formtitle">$i18n.getText('cpji.confirm.new.values')</h2>
                #if(!$action.issueFieldsThatCannotBeCopied.isEmpty() || !$action.destinationIssueFieldsThatAreRequired.isEmpty())
                    <div class="aui-message warning"><span class="aui-icon icon-warning"></span>
                        <p>$i18n.getText('cpji.this.issue.can.be.copied')</p>
                    </div>
                #end
            #else
                <div class="aui-message error"><span class="aui-icon icon-error"></span>
                    <p>$i18n.getText('cpji.cant.copy.issue')</p>
                </div>
            #end

			<h4 class="sub-heading">$i18n.getText('cpji.source.issue.fields')</h4>
			#if ($action.issueFieldsThatCannotBeCopied.isEmpty())
                <span id="issue-fields-retained">$i18n.getText('cpji.issue.fields.retained')</span>
			#else
                <span>
					$i18n.getText('cpji.some.values.cannot.be.copied')
                </span>
                <div class="fields-list">
					#foreach( $permission in $action.issueFieldsThatCannotBeCopied)
						$!action.getFieldHtml($permission)
					#end
                </div>
			#end

			<h4 class="sub-heading">$i18n.getText('cpji.destination.issue.fields')</h4>
			#if ($action.destinationIssueFieldsThatAreRequired.isEmpty())
				<span id="no-missing-required">$i18n.getText('cpji.no.missing.required.fields')</span>
			#else
				<span>
					$i18n.getText('cpji.some.fields.are.missing')
				</span>
            	<div class="fields-list">
					#foreach( $permission in $action.destinationIssueFieldsThatAreRequired)
						$!action.getFieldHtml($permission)
					#end
				</div>
			#end

            <p>
                #if ($action.isCopyingPossible())
                <input type="submit" value="$i18n.getText('cpji.copy.issue')" class="aui-button aui-button-primary submit"/>
                #else
                <input type="submit" value="$i18n.getText('common.forms.cancel')" class="aui-button submit"/>
                #end
            </p>
            <input type="hidden" name="atl_token" value="$action.xsrfToken"/>
            <input type="hidden" name="id" value="$action.id"/>
            <input type="hidden" name="targetEntityLink" value="$textutils.htmlEncode($action.targetEntityLink)"/>
            <input type="hidden" name="issueType" value="$textutils.htmlEncode($action.getIssueType())"/>
            <input type="hidden" name="copyAttachments" value="$action.copyAttachments"/>
            <input type="hidden" name="copyIssueLinks" value="$action.copyIssueLinks"/>
			<input type="hidden" name="copyComments" value="$action.copyComments"/>
            <input type="hidden" name="remoteIssueLink" value="$textutils.htmlEncode($action.remoteIssueLink())"/>
            <input type="hidden" name="summary" value="$textutils.htmlEncode($action.summary)"/>
        </form>
    </div>
</div>
</body>
</html>
