#* @vtlvariable name="action" type="com.atlassian.cpji.action.CopyIssueToInstanceAction" *#
<html>
<head>
    <title>$i18n.getText('cpji.confirm.new.values')</title>
</head>
<body>
<div id="stepped-process" class="content-container">
	#parse("/com/atlassian/cpji/templates/steps.vm")
    <div class="content-body aui-panel">
        <form #if ($action.isCopyingPossible()) action="CopyIssueToInstanceAction.jspa" method="post" #else action="../browse/$action.getIssueKey()" method="get" #end class="aui confirmation" >
			<h2 class="formtitle">$i18n.getText('cpji.confirm.new.values')</h2>
			#if(!$action.isCopyingPossible())
				<div class="aui-message error"><span class="aui-icon icon-error"></span>
					<p>$i18n.getText('cpji.cant.copy.issue')</p>
				</div>
			#elseif (!$action.getSystemFieldPermissions().isEmpty() || !$action.getCustomFieldPermissions().isEmpty())
				<div class="aui-message warning"><span class="aui-icon icon-warning"></span>
					<p>$i18n.getText('cpji.this.issue.can.be.copied')</p>
				</div>
			#end

			<h4 class="sub-heading">$i18n.getText('cpji.system.fields')</h4>
			#if ($action.getSystemFieldPermissions().isEmpty())
				<div class="aui-message info"><span class="aui-icon icon-info"></span><p>$i18n.getText('cpji.all.system.fields.retained')</p></div>
			#else
				<span>
					$i18n.getText('cpji.some.fields.are.missing') #if ($action.selectedDestinationProject.jiraLocation.local) $i18n.getText('cpji.please.set.values') #end
				</span>
				<div class="fields-list">
					#foreach( $permission in $action.getSystemFieldPermissions() )
						$!action.getHtmlForField($permission)
					#end
				</div>
			#end

			<h4 class="sub-heading">$i18n.getText('cpji.custom.fields')</h4>
			#if ($action.getCustomFieldPermissions().isEmpty())
				<div class="aui-message info"><span class="aui-icon icon-info"></span><p>$i18n.getText('cpji.all.custom.fields.retained')</p></div>
			#else
				<span>
					$i18n.getText('cpji.some.fields.are.missing') #if ($action.selectedDestinationProject.jiraLocation.local) $i18n.getText('cpji.please.set.values') #end
				</span>
            	<div class="fields-list">
					#foreach( $permission in $action.customFieldPermissions )
						$!action.getHtmlForField($permission)
					#end
				</div>
			#end

            <div class="buttons-container">
                <div class="buttons">
                   #if ($action.isCopyingPossible())
                    <input type="submit" value="$i18n.getText('cpji.copy.issue')" class="button submit"/>
                   #else
                    <input type="submit" value="$i18n.getText('common.forms.cancel')" class="button submit"/>
                   #end
                </div>
            </div>
            <input type="hidden" name="atl_token" value="$action.xsrfToken"/>
            <input type="hidden" name="id" value="$action.id"/>
            <input type="hidden" name="targetEntityLink" value="$textutils.htmlEncode($action.targetEntityLink)"/>
            <input type="hidden" name="issueType" value="$textutils.htmlEncode($action.getIssueType())"/>
            <input type="hidden" name="copyAttachments" value="$action.copyAttachments"/>
            <input type="hidden" name="copyIssueLinks" value="$action.copyIssueLinks"/>
			<input type="hidden" name="copyComments" value="$action.copyComments"/>
            <input type="hidden" name="remoteIssueLink" value="$textutils.htmlEncode($action.remoteIssueLink())"/>
        </form>
    </div>
</div>
</body>
</html>
