#* @vtlvariable name="action" type="com.atlassian.cpji.action.SelectTargetProjectAction" *#
<html>
<head>
    <title>Select a target remote project</title>
</head>
<body>
<div id="stepped-process" class="content-container">
	#set($currentStep="selectproject")
	#parse("/com/atlassian/cpji/templates/steps.vm")
    <div class="content-body aui-panel">
        <form action="SelectTargetProjectAction.jspa" class="aui" method="post">
            <h2 class="formtitle">$i18n.getText('cpji.select.destination.project')</h2>
            <fieldset>
				<div class="field-group" id="targetEntityLink-container" data-selected-project-key="$textutils.htmlEncode($selectedIssueProjectKey)">
					<label for="targetEntityLink">$i18n.getText('common.words.project')</label>
					<select name="targetEntityLink" id="targetEntityLink" class="hidden"></select>
                    <span id="targetEntityLinkLoader" class="hidden">
						<input class="text" type="text" disabled="disabled"/>
						<span class="icon loading"></span>
					</span>
				</div>
            </fieldset>
			<div class="buttons-container">
				<div class="buttons">
					<input id="select-project-submit" type="submit" value="$i18n.getText('common.forms.next')" class="aui-button button submit"/>
					<a href="$req.contextPath$viewUrl" class="aui-button-cancel">$i18n.getText("common.forms.cancel")</a>
				</div>
			</div>
            <input type="hidden" name="id" value="$action.getId()"/>
            <input type="hidden" name="atl_token" value="$action.getXsrfToken()"/>
        </form>
    </div>
</div>
</body>
</html>
