#* @vtlvariable name="action" type="com.atlassian.cpji.action.SelectTargetProjectAction" *#
<html>
<head>
    <title>Select a target remote project</title>
</head>
<body>
<div id="stepped-process" class="content-container">
    <div class="content-related">
        <ol class="steps">
            <li class="current">$i18n.getText('cpji.select.project')</li>
            <li class="todo">$i18n.getText('cpji.select.issue.type')</li>
            <li class="todo">$i18n.getText('cpji.confirmation')</li>
        </ol>
    </div>
    <div class="content-body aui-panel">
        <form action="SelectTargetProjectAction.jspa" class="aui" method="post">
            <h2>$i18n.getText('cpji.select.destination.project')</h2>
            <fieldset>
				<div class="field-group" id="targetEntityLink-container">
					<label for="targetEntityLink">$i18n.getText('common.words.project')</label>
					<div style="width: 250px;"><select name="targetEntityLink" id="targetEntityLink" class="hidden"></select></div>
                    <span id="targetEntityLinkLoader" class="icon loading hidden"></span>
                    <div class="hidden" id="cpji-current-project-key">$selectedIssueProjectKey</div>
				</div>
            </fieldset>
            <div class="button-container">
                <div class="buttons">
                    <input id="select-project-submit" type="submit" value="$i18n.getText('common.forms.next')" class="button submit"/>
                    <a href="$req.contextPath$viewUrl" class="aui-button-cancel">$i18n.getText("common.forms.cancel")</a>
                </div>
            </div>
            <input type="hidden" name="id" value="$action.getId()"/>
            <input type="hidden" name="atl_token" value="$action.getXsrfToken()"/>
        </form>
    </div>
</div>
</body>
</html>
