#* @vtlvariable name="action" type="com.atlassian.cpji.action.SelectTargetProjectAction" *#
<html>
<head>
    <title>Select a target remote project</title>
</head>
<body>
<div id="stepped-process" class="content-container">
    <div class="content-related">
        <ol class="steps">
            <li class="current">Select project</li>
            <li class="todo">Select Issue Type</li>
            <li class="todo">Confirmation</li>
        </ol>
    </div>
    <div class="content-body aui-panel">
        <form action="SelectTargetProjectAction.jspa" class="aui" method="post">
            <h2>Select project</h2>
            <fieldset>
                <div class="field-group">
                    <label for="targetEntityLink">Project</label>
                    <select name="targetEntityLink" id="targetEntityLink">
                        #foreach( $entityLink in $action.getLinkedJiraProjects() )
                            <option value="$entityLink.getApplicationLink().getId()%7C$entityLink.getKey()">($entityLink.getApplicationLink().getName())  $entityLink.getName() ($entityLink.getKey())</option>
                        #end
                    </select>
                </div>

				<div class="field-group">
					<label for="targetEntityLink">$i18n.getText('cpji.select.destination.project')</label>
					<select name="targetEntityLink" id="destinationProject">
						#foreach( $destinationProject in $action.getAvailableDestinationProjects() )
							<option value="$destinationProject.key">$destinationProject.value</option>
						#end
					</select>
				</div>
            </fieldset>
            <div class="button-container">
                <div class="buttons">
                    <input type="submit" value="Next" class="button submit"/>
                </div>
            </div>
            <input type="hidden" name="id" value="$action.getId()"/>
            <input type="hidden" name="atl_token" value="$action.getXsrfToken()"/>
        </form>
    </div>
</div>
</body>
</html>
