<div class="content-related">
    <ol class="steps">
        <li class="#if($action.currentStep=="selectproject") current #else done #end">$i18n.getText('cpji.select.project')</li>
        <li class="#if($action.currentStep=="selectproject") todo #elseif($action.currentStep=="copydetails") current #else done #end">$i18n.getText('cpji.details')</li>
        <li class="#if($action.currentStep=="confirmation") current #elseif($action.currentStep=="success") done #else todo #end">$i18n.getText('cpji.confirmation')</li>
    </ol>
</div>