#targetEntityLink-container {

	.description {
		.aui-message {
			margin-bottom: 0;
			margin-top: 1em;
		}
	}

  #noDestinationProjectError {
    clear: none;
  }

}

form.aui {
	.field-group {
		.field-value {
			label {
				float: none;
				display: inline;
				margin: 0 0 0 0;
				padding-top: 0;
				text-align: left;
				position: inherit;
				font-weight: normal;
			}
		}

		.field-value.disabled {
			color: #999999;
		}
	}
}

#stepped-process {
  form.aui.confirmation {
    .fields-list {
      margin-top: 15px;
    }
  }
}