<html>
<head>
    <meta name='decorator' content='atl.admin'>
    <title>Configure Remote Copy Plugin</title>
</head>
<body class="nl">
 <form action="ConfigureCopyIssuesAdminAction!savePermission.jspa" method="post" class="aui">
     <div class="content-body">
        #if ($action.hasConfigChanges())
        <div class="aui-message success">
           <ul>
                #foreach( $change in $action.getConfigChanges() )
                  <li>$change</li>
                #end
            </ul>
       </div>
       #end
       #if ($action.invalidInput())
       <div class="aui-message warning">
             <p>There were some problems when saving the configuration.</p>
             <ul>
                #foreach( $error in $action.getErrorMessages() )
                  <li>$error</li>
                #end
             </ul>
       </div>
       #end
     <h2>General Configuration</h2>
         <div class="field-group">
             <label for"group">User group</label>
             <select class="select" name="group" id="group">
                <option value=""  #if($action.getSelectedGroup() == "") selected="" #end>everyone</option>
                #foreach( $group in $action.getGroups() )
                   <option value="$group.getName()"  #if($action.getSelectedGroup() == $group.getName()) selected="" #end>$group.getName()</option>
                #end
             </select>
             <div class="description">
                 Only users of this group can copy to another JIRA project.
             </div>
         </div>
         <div class="field-group">
             <label for"userMapping">User Mapping</label>
             <select class="select" name="userMapping" id="userMapping">
                #foreach( $userMapping in $action.getUserMappingTypes() )
                   <option value="$userMapping"  #if($action.getConfiguredUserMapping() == $userMapping) selected="" #end>$i18n.getText($userMapping.getI18nKey())</option>
                #end
             </select>
             <div class="description">
               Users from the remote JIRA instance are mapped by using the selected mapping type. This user mapping is used when copying field values of the assignee, comment, reporter, voter and watcher field.
             </div>
         </div>
         <input type="hidden" name="projectKey" value="$action.getProjectKey()"/>
         <div class="buttons-container">
             <div class="buttons">
                <input class="button" type="submit" value="save"/>
             </div>
         </div>
     </div>
 </form>

 <form action="ConfigureCopyIssuesAdminAction!save.jspa" method="post" class="aui">
     <div class="content-body" id="required-fields">
     <h2>Default values for required fields</h2>
     <p>
       These default values will be applied if the remote issue does not contain a value.
     </p>
     <div class="field-group">
         <label for"selectedIssueTypeId">Issue Type</label>
         <select class="select" name="selectedIssueTypeId" id="select-issue-type">
            #foreach( $issueType in $action.getIssueTypesForProject() )
               <option value="$issueType.getId()"  #if($action.getSelectedIssueTypeId() == $issueType.getId()) selected="" #end>$issueType.getName()</option>
            #end
         </select><span class="cpji-loading"></span>
     </div>
     <input type="hidden" id="project-key" name="projectKey" name value="$action.getProjectKey()"/>
     <div id="fields">

     </div>
     <div class="buttons-container">
         <div class="buttons">
            <input class="button" type="submit" value="Update"/>
         </div>
     </div>
     </div>
 </form>
</body>
</html>